<div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="flex-row space-y-7 text-white">
    <h1 class="font-semibold uppercase">Navigations</h1>
    <div class="hover:bg-white hover:text-orange-500 font-semibold p-1">
      <li><a class="hover:bg-white hover:text-orange-500" routerLink="/admin-home/users" routerLinkActive="active"><i class="fa fa-user fa-lg mr-2"></i>User</a></li>
    </div>
    <div class="hover:bg-white hover:text-orange-500 font-semibold p-1">
      <li><a class="hover:bg-white hover:text-orange-500"><i class="fa fa-file fa-lg mr-2"></i>CMS Page</a></li>
    </div>
    <div class="hover:bg-white hover:text-orange-500 font-semibold p-1">
      <li><a class="hover:bg-white hover:text-orange-500"><i class="fa fa-bullseye fa-lg mr-2"></i>Mission</a></li>
    </div>
    <div class="hover:bg-white hover:text-orange-500 font-semibold p-1">
      <li><a class="hover:bg-white hover:text-orange-500"><i class="fa fa-columns fa-lg mr-2"></i>Mission Theme</a></li>
    </div>
    <div class="hover:bg-white hover:text-orange-500 font-semibold p-1">
      <li><a class="hover:bg-white hover:text-orange-500"><i class="fa fa-pencil-square fa-lg mr-2"></i>Mission Skills</a></li>
    </div>
    <div class="hover:bg-white hover:text-orange-500 font-semibold p-1">
      <li><a class="hover:bg-white hover:text-orange-500"><i class="fa fa-folder fa-lg mr-2"></i>Mission Applicatin</a></li>
    </div>
    <div class="hover:bg-white hover:text-orange-500 font-semibold p-1">
      <li><a class="hover:bg-white hover:text-orange-500"><i class="fa fa-book fa-lg mr-2"></i>Story</a></li>
    </div>
    <div class="hover:bg-white hover:text-orange-500 font-semibold p-1">
      <li><a class="hover:bg-white hover:text-orange-500"><i class="fa fa-picture-o fa-lg mr-2"></i>Banner Management</a></li>
    </div>
  </div>
</div>
