<div class="h-screen w-screen px-0 text-black Parent bg-white">
  <div class="w-full h-full px-0 mx-0">
    <div class="grid w-full h-full md:grid-cols-12 lg:grid-cols-12">
      <div class="lg:col-span-9 col-span-12 px-0">
        <div class="w-full h-screen bg-transparent bg-cover bg-center bg-no-repeat"
          style="background-image: url('../assets/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png');">
          <div class="w-50 h-auto mx-auto pt-80 space-y-5">
            <div class="text-white py-3 grid text-2xl font-semibold">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <div class="text-white text-justify grid">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perspiciatis quidem dolore eum, maiores eos ad tempore dolores
              alias, ratione corporis assumenda repellat repellendus repudiandae
              exercitationem aspernatur sequi culpa mollitia commodi.
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-span-3 col-span-12 mx-auto">
        <div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
          <div class="flex w-full space-y-8">
            <form class="mt-16 space-y-6" autocomplete="false">
              <input type="hidden" name="remember" value="true" />
              <div class="-space-y-px rounded-md shadow-sm">
                <div class="mt-4">
                  <h4 class="flex w-full items-center justify-center py-3">Forgot Password</h4>
                  <p class="flex w-full items-center text-center justify-center">
                    Enter your email address you've using for your account below and we
                    will send you a password reset link.
                  </p>
                </div>
                <div class="mt-4">
                  <label for="email-address" class="not-sr-only" class="text-gray-500">Email Address</label>
                  <input id="email-address" name="email" type="email" autocomplete="email" formControlName="email"
                    class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                    placeholder="Enter your email address" />
                </div>
              </div>
              <div class="flex items-center w-full justify-center">
                <button class="border-2 rounded-full text-orange-400 border-orange-400 w-full h-10">
                  Reset Password
                </button>
              </div>
              <div class="flex w-full items-center justify-center">
                <div class="text-sm">
                  <a class="font-medium text-blue-500" routerLink="/ci-platform/login"
                    routerLinkActive="active">Login</a>
                </div>
              </div>
              <div class="flex w-full items-center justify-center">
                <a routerLink="/ci-platform/policy-page" routerLinkActive="active"><span>Privacy Policy</span></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
