<div class="w-full h-52 bg-cover bg-center bg-no-repeat"
  style="background-image: url('../assets/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png');">
  <div class="mx-auto w-full h-52 bg-black bg-opacity-75">
    <div class="flex flex-wrap items-center justify-center">
      <div class="flex flex-wrap items-center w-50 h-52">
        <div class="flex w-full text-md font-normal text-white text-center">
          <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum beatae repellat numquam
            reiciendis rerum animi voluptatum doloremque architecto magni quas quam aut praesentium.</span>
        </div>
        <div class="flex w-full items-center">
          <button routerLink="/user-home/story-share" routerLinkActive="active"
            class="border-2 text-white rounded-full border-white w-48 h-10 mx-auto">
            Share your story <i class="fa fa-arrow-right fa-sm font-light"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="my-3">
  <ng-container *ngIf="(stories | paginate:{itemsPerPage:10,currentPage:page,totalItems:count}) as response">
    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-5">
      <div class="flex flex-col items-center w-full rounded-lg shadow-lg bg-white max-w-md"
        *ngFor="let item of response">
        <div class="w-full h-52">
          <div class="relative h-52">
            <img class="w-full border-0  object-cover h-52" src="../../../../assets/images/{{item.images[0]}}" />
            <div class="absolute top-0 flex group item-center w-full h-52 hover:bg-black hover:opacity-75">
              <a routerLink="/user-home/story-detail/{{item.id}}" routerLinkActive="active"
                class="hidden group-hover:flex my-20 items-center justify-center border-2 text-white rounded-full border-white w-36 text-center h-10 mx-auto">
                <span class="hover:block">View Details<i class="ml-1 fa fa-arrow-right fa-sm font-light"></i></span>
              </a>
            </div>
          </div>
        </div>
        <div class="p-6">
          <h5 class="text-gray-900 text-xl font-medium mb-2">
            {{item.title}}
          </h5>
          <p class="text-gray-700 text-base mb-4">
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
          <div class="flex text-center">
            <img class="rounded-full w-8 mb-2" src="../../../assets/images/user-img.png" alt="">
            <span class="flex items-center ml-2">Andrew Jhonson</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 text-center" *ngIf="response.length === 0">
      <p class="text-secondary " style="font-size:20px"><b>No mission Found</b></p>
    </div>
    <div class="flex items-center justify-center" *ngIf="response.length != 0">
      <pagination-controls class="text-orange-500" previousLabel="" nextLabel=""
        (pageChange)="page = $event"></pagination-controls>
    </div>
  </ng-container>
</section>

<footer class="flex w-full items-center justify-start position-sticky border-top">
  <nav class="flex items-center py-2">
    <div class="container px-4 px-lg-5">
      <ul class="flex items-center mx-auto mb-2">
        <a class="text-black" routerLink="/user-home/policy-page" routerLinkActive="active">Privacy Pocliy</a>
      </ul>
    </div>
  </nav>
</footer>
