<div class="w-full h-52 bg-cover bg-center bg-no-repeat"
  style="background-image: url('../assets/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png');">
  <div class="mx-auto w-full h-52 bg-black bg-opacity-75">
    <div class="flex flex-wrap items-center justify-center">
      <div class="flex flex-wrap items-center w-50 h-52">
        <div class="flex w-full text-md font-normal text-white text-center">
          <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum beatae repellat numquam
            reiciendis rerum animi voluptatum doloremque architecto magni quas quam aut praesentium.</span>
        </div>
        <div class="flex w-full items-center">
          <button class="border-2 text-white rounded-full border-white w-48 h-10 mx-auto">
            Share your story <i class="fa fa-arrow-right fa-sm font-light"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container h-full w-full my-5">
  <div class="flex justify-between">
    <div class="rounded-lg shadow-lg bg-white max-w-sm">
      <a href="#!">
        <img class="rounded-t-lg w-full" src="../../../assets/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="" />
      </a>
      <div class="p-6">
        <h5 class="text-gray-900 text-xl font-medium mb-2">Card title</h5>
        <p class="text-gray-700 text-base mb-4">
          Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <div class="flex">
          <img class="flex mr-2 rounded-circle" src="../../../assets/images/user-img.png" alt="" width="30px"
            height="30px">
            <span>username</span>
        </div>
      </div>
    </div>

    <div class="rounded-lg shadow-lg bg-white max-w-sm">
      <a href="#!">
        <img class="rounded-t-lg w-full" src="../../../assets/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="" />
      </a>
      <div class="p-6">
        <h5 class="text-gray-900 text-xl font-medium mb-2">Card title</h5>
        <p class="text-gray-700 text-base mb-4">
          Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <div class="flex">
          <img class="flex mr-2 rounded-circle" src="../../../assets/images/user-img.png" alt="" width="30px"
            height="30px">
            <span>username</span>
        </div>
      </div>
    </div>

    <div class="rounded-lg shadow-lg bg-white max-w-sm">
      <a href="#!">
        <img class="rounded-t-lg w-full" src="../../../assets/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="" />
      </a>
      <div class="p-6">
        <h5 class="text-gray-900 text-xl font-medium mb-2">Card title</h5>
        <p class="text-gray-700 text-base mb-4">
          Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <div class="flex">
          <img class="flex mr-2 rounded-circle" src="../../../assets/images/user-img.png" alt="" width="30px"
            height="30px">
            <span>username</span>
        </div>
      </div>
    </div>
  </div>
</div>
