<header class="grid w-full lg:grid-cols-12 items-center justify-between bg-white py-2.5  shadow-md shadow-black-500/50">
  <div class="lg:col-span-9 col-span-12  ml-4">
    <span>
      {{headerDate | date:'full'}}
    </span>
  </div>
  <div class="lg:col-span-3 col-span-12 mr-3">
    <div class="flex float-end">
      <img class="flex img mr-2 rounded-circle" src="../../../assets/images/user-img.png" alt="" width="20px"
        height="20px">
      <ul class="flex">
        <li class="nav-item dropdown" appDropDown #show="appDropDown" #hide>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button">User
            Profile <span class="caret"></span></a>
          <ul class="dropdown-menu" [ngClass]="{'show':show.isOpen}">
            <li><a class="dropdown-item">User Profile</a></li>
            <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
