<nav class="navbar align-items-center navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-light">
  <div class="container px-4 px-lg-5">
    <div class="navbar-collapse align-content-center">
      <ul class="nav navbar-nav me-auto mb-lg-0 ms-lg-4">
        <li class="nav-item">
          <a class="nav-link text-black">Stories</a>
        </li>
        <li class="nav-item dropdown" appDropDown #open="appDropDown" #hide>
          <a class="nav-link dropdown-toggle" routerLink='/home/privacy-policy' routerLinkActive="active" role="button">
            Policy
            <span class="caret"></span></a>
          <ul class="dropdown-menu" [ngClass]="{'show':open.isOpen}">
            <li><a class="dropdown-item">List1</a></li>
            <li><a class="dropdown-item">List2</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav mb-2 mb-lg-0 ms-lg-4">
        <img class="img mr-2 rounded-circle" src="../../../assets/images/user-img.png" alt="" width="20px"
          height="20px">
        <li class="nav-item dropdown" appDropDown #show="appDropDown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button">User
            Profile <span class="caret"></span></a>
          <ul class="dropdown-menu" [ngClass]="{'show':show.isOpen}">
            <li><a class="dropdown-item">User Profile</a></li>
            <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
