<div class="container w-screen h-full">
  <div class="grid h-75 md:grid-cols-12 lg:grid-cols-12 mb-2">
    <div class="lg:col-span-6 md:col-span-6 col-span-12 px-0">
      <div class="flex items-center justify-center my-12 mx-6">
        <img class="flex" src="../../../../assets/images/image2.png">
      </div>
      <div class="flex border-2 mx-6">
        <div><img class="" src="../../../../assets/images/image1.png" alt=""></div>
        <div><img class="pl-1" src="../../../../assets/images/image1.png" alt=""></div>
        <div><img class="pl-1" src="../../../../assets/images/image1.png" alt=""></div>
        <div><img class="pl-1" src="../../../../assets/images/image1.png" alt=""></div>
        <div><img class="pl-1" src="../../../../assets/images/image1.png" alt=""></div>
      </div>
    </div>
    <div class="lg:col-span-6 md:col-span-6 col-span-12 px-0 bg-white">
      <div class="flex w-full items-center justify-start mt-20">
        <div class="w-52">
          <img class="rounded-full w-14 mb-2" src="../../../../assets/images/volunteer2.png" alt="">
          <p class="text-gray-500">Charles Vigue</p>
        </div>
        <div class="flex w-full justify-end">
          <div class="flex w-32 justify-center mt-5 text-right border-2 text-gray-500 rounded-full border-gray-200">
            12,000 views
          </div>
        </div>
      </div>
      <div class="flex w-full justify-center items-center text-justify">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore commodi accusamus officiis excepturi maiores
        quas, perspiciatis magnam, magni minima qui ab delectus voluptatibus quia. Nemo laboriosam eveniet iure modi
        illum!
        <br><br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae alias quasi amet, sapiente quia tenetur
        reiciendis? Tenetur fugit doloremque sunt rerum odit ab cupiditate earum omnis, nihil sequi mollitia iste.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        <br><br>
        Quia sit pariatur at ipsam temporibus quae dolorum soluta? Velit quo cum fuga architecto, eum dolorum,
        incidunt a molestias voluptate, deserunt veniam.
      </div>

      <div class="flex w-full items-center text-justify">
        <button
          class="flex w-50 justify-center my-5 py-3 text-right border-2 text-gray-600 rounded-full border-gray-400">
          Recommend to a Co-Worker
        </button>
        <button
          class="flex w-50 items-center justify-center my-5 py-3 m-2 text-right border-2 text-orange-500 rounded-full border-orange-400">
          Open Mission <img class="ml-4" src="../../../../assets/images/right-arrow.png">
        </button>
      </div>
    </div>
  </div>
  <div class="grid h-full md:grid-cols-12 lg:grid-cols-12 mb-2">
    <div class="col-span-12 px-0">
      <div class="flex items-center justify-start bg-white border-b-2 border-gray-300 my-12 mx-6">
        <span class="text-2xl border-b-2 border-gray-800">
          Grow Tress
        </span>
        - On the path to environment sustainbility
      </div>
      <div class="flex-row w-full justify-center items-center text-justify mx-6 mb-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
        <br><br>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br><br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br><br>
        We use these technologies for a number of purposes, such as:
        <br><br>
        <ul class="py-1">
          <li class="py-1">But I must explain to you how all this mistaken idea of denouncing pleasure andpraising pain.</li>
          <li class="py-1">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentiumvoluptatum deleniti
            atque
            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
            animi.
          </li>
          <li class="py-1">
            On the other hand, we denounce with righteous
            indignation and dislike men who are so beguiled and demoralized
            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain.
          </li>
          <li class="py-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
          </li>
        </ul>
        <span class="py-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </span>
      </div>
    </div>
  </div>
</div>
<footer class="flex w-full items-center justify-start position-sticky border-top">
  <nav class="flex items-center py-2">
    <div class="container px-4 px-lg-5">
      <ul class="flex items-center mx-auto mb-2">
        <a class="text-black" routerLink="/user-home/policy-page" routerLinkActive="active">Privacy Pocliy</a>
      </ul>
    </div>
  </nav>
</footer>
