<form class="grid lg:flex md:flex lg:justify-around md:justify-around items-center w-full border-b">
      <div class="col-span-4 w-52">
        <div class="input-group">
          <span class="input-group-append">
            <button class="btn bg-white border-0" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
          <input type="search" class="form-control border-0" placeholder="Search..">
        </div>
      </div>
      <div class="col-span-2 w-28">
        <div class="input-group-btn border-r">
          <select class="form-select border-0">
            <option>Country</option>
          </select>
        </div>
      </div>
      <div class="col-span-2 w-24">
        <div class="input-group-btn border-r">
          <select class="form-select border-0">
            <option>City</option>
          </select>
        </div>
      </div>
      <div class="col-span-2 w-24">
        <div class="input-group-btn border-r">
          <select class="form-select border-0">
            <option>Theme</option>
          </select>
        </div>
      </div>
      <div class="col-span-2 w-24">
        <div class="input-group-btn border-r">
          <select class="form-select border-0">
            <option>Skills</option>
          </select>
        </div>
      </div>
</form>
