<div class="row box">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 leftbox">
    <div class="box-content">
      <h2>Sed ut perspiciatis unde omnis iste natus voluptatem.</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 rightbox">
    <div class="login-form">
      <form class="form">
        <div class="form-heading">
          <h4>New Password</h4>
          <p>Please enter a new password in the feilds below</p>
        </div>
        <div class="form-group">
          <label>New Password</label>
          <input type="password" class="form-control" />
        </div>
        <div class="form-group">
          <label>Confirm New Password</label>
          <input type="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-black form-control">
          Change Password
        </button>
        <div class="links">
          <a
            routerLink="/ci-platform/login"
            routerLinkActive="active"
            style="color: rgb(41, 104, 182)"
            >Login</a
          >
        </div>
      </form>
      <div class="privacy-policy">
        <a routerLink="/ci-platform/privacy-policy" routerLinkActive="active"
          ><span>Privacy Policy</span></a
        >
      </div>
    </div>
  </div>
</div>
