<div>
  <div class="grid md:grid-cols-12">
    <div class="mt-5 md:col-span-12">
      <form>
        <div class="sm:rounded-md shadow-sm sm:overflow-hidden">
          <div class="flex-1 block w-full text-black border-2 text-lg font-normal bg-gray-200 px-4 py-2">
            Edit
          </div>
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
            <div>
              <label for="title" class="block text-sm font-medium text-gray-700">
                Title
              </label>
              <input type="text" name="title" id="title"
                class="flex-1 block w-full  sm:text-sm border-2 border-gray-300" />
            </div>

            <div class="col-s">
              <label for="about" class="block text-sm font-medium text-gray-700">
                Description
              </label>
              <div class="mt-1">
                <div class="NgxEditor__Wrapper" id="description" name="description">
                  <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
                  <ngx-editor [editor]="editor" [ngModel]="html">
                  </ngx-editor>
                </div>
              </div>
            </div>
            <div>
              <label for="title" class="block text-sm font-medium text-gray-700">
                Slug
              </label>
              <input type="text" name="title" id="title"
                class="flex-1 block w-full  sm:text-sm border-2 border-gray-300" />
            </div>
            <div>
              <label for="title" class="block text-sm font-medium text-gray-700">
                Status
              </label>
              <select class="flex-1 block w-full sm:text-sm border-2 border-gray-300">
                <option value="">Select</option>
                <option value="True">Active</option>
                <option value="false">InActive</option>
              </select>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 my-3 bg-white text-right sm:px-6">
          <button type="submit"
            class="mr-3 inline-flex justify-cente text-center px-4 py-1 border-2 border-neutral-400 rounded-full bg-white  text-neutral-400  text-base font-semibold leading-7 text-orange shadow-sm">
            Canecl
          </button>
          <button type="submit"
            class="inline-flex justify-cente text-center px-4 py-1 border-2 border-orange-500 rounded-full bg-white  text-orange-500  text-base font-semibold leading-7 text-orange shadow-sm">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

