<div class="container w-screen h-full">
  <div class="grid h-75 md:grid-cols-12 lg:grid-cols-12 mb-2">
    <div class="lg:col-span-6 md:col-span-6 col-span-12 px-0">
      <div class="flex items-center justify-center my-12 mx-6">
        <img class="flex" src="../../../../../../assets/images/{{mission.images[0].image}}">
      </div>
      <div class="flex border-2 mx-6 w-auto">
        <carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="singleSlideOffset" [noWrap]="!noWrap"
          [interval]="0" [startFromIndex]="1">
          <slide *ngFor="let item of mission.images; let index=index">
            <img src="../../../../../../assets/images/{{item.image}}" alt="image slide" class="block w-full">
          </slide>
        </carousel>
      </div>
    </div>
    <div class="lg:col-span-6 md:col-span-6 col-span-12 px-0 bg-white">
      <div class="flex w-full items-center justify-start mt-20">
        <div class="px-6 py-3 mb-2 w-full">
          <div class="font-normal text-2xl mb-2 text-justify">{{mission.title}}</div>
          <p class="text-gray-700 text-sm text-justify">{{mission.shortDescription}}</p>
        </div>
      </div>
      <div class="border-t border-b">
        <div class="flex items-center justify-center w-full -mt-3">
          <div class="border rounded-full px-2 bg-white">
            From {{mission.startDate}} until {{mission.endDate}}
          </div>
        </div>
        <div class="flex items-center justify-between text-gray-400 my-2">
          <div class="inline-flex">
            <span>
              <img src="../../../assets/images/Seats-left.png" class="w-7 h-7">
            </span>
            <div class="text-gray-600">
              {{mission.totalSeats}}
              <div class="text-style-1">
                Seats left
              </div>
            </div>
          </div>
          <div class="inline-flex">
            <span>
              <img src="../../../assets/images/deadline.png" class="w-8 h-8">
            </span>
            <div class="text-gray-600">
              {{mission.deadline}}
              <div class="text-style-1">
                Deadline
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-t border-b py-3">
        <div class="flex justify-center items-center">
          <button
            class="inline-flex items-center my-3 mx-2 py-1 px-2 text-right border-2 text-gray-600 rounded-full border-gray-400">
            <img class="ml-4" src="../../../../assets/images/heart1.png">
            <span class="mx-2"> Add to Favourite</span>
          </button>
          <button
            class="inline-flex items-center my-3 py-1 mx-2 px-2 text-right border-2 text-gray-600 rounded-full border-gray-400">
            <img class="ml-4" src="../../../../assets/images/add1.png">
            <span class="mx-2">Recommend to a Co-Worker</span>
          </button>
        </div>
      </div>
      <div class="flex items-center justify-center w-full -mt-3">
        <div class="px-2 bg-white">
          <span class="star-rating text-lg cursor-pointer">
            <i class="fa fa-star" id="star1"></i>
            <i class="fa fa-star" id="star1"></i>
            <i class="fa fa-star" id="star1"></i>
            <i class="fa fa-star" id="star1"></i>
            <i class="fa fa-star" id="star1"></i>
          </span>
        </div>
      </div>
      <div class="bg-white">
        <div class="mx-auto max-w-2xl py-6 px-4">
          <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            <div class="group relative border">
              <div class="h-full w-full group-hover:opacity-75 p-2">
                <img src="../../../../assets/images/pin1.png" alt="" class="object-cover object-center">
                <div class="mt-4 flex justify-between">
                  <h3 class="text-sm text-gray-400">
                    City
                  </h3>
                </div>
                <p class="mt-1 text-sm text-gray-700">{{mission.city}}
                </p>
              </div>
            </div>

            <div class="group relative border">
              <div class="h-full w-full group-hover:opacity-75 p-2">
                <img src="../../../../assets/images/web.png" alt="" class="object-cover object-center">
                <div class="mt-4 flex justify-between">
                  <h3 class="text-sm text-gray-400">
                    Theme
                  </h3>
                </div>
                <p class="mt-1 text-sm text-gray-700">{{mission.theme}}</p>
              </div>
            </div>

            <div class="group relative border">
              <div class="h-full w-full group-hover:opacity-75 p-2">
                <img src="../../../../assets/images/calender.png" alt="" class="object-cover object-center">
                <div class="mt-4 flex justify-between">
                  <h3 class="text-sm text-gray-400">
                    Date
                  </h3>
                </div>
                <p class="mt-1 text-sm text-gray-700">Ongoing<br>Opportunity</p>
              </div>
            </div>

            <div class="group relative border">
              <div class="h-full w-full group-hover:opacity-75 p-2">
                <img src="../../../../assets/images/organization.png" alt="" class="object-cover object-center">
                <div class="mt-4 flex justify-between">
                  <h3 class="text-sm text-gray-400">
                    Organization
                  </h3>
                </div>
                <p class="mt-1 text-sm text-gray-700">{{mission.organisationName}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex w-full justify-center items-center text-justify">
        <button
          class="flex w-50 items-center justify-center my-5 py-3 m-2 text-right border-2 text-orange-500 rounded-full border-orange-400">
          Apply <img class="ml-4" src="../../../../assets/images/right-arrow.png">
        </button>
      </div>
    </div>
  </div>
  <div class="grid h-full w-full md:grid-cols-12 lg:grid-cols-12 mb-2">
    <div class="col-span-7 px-0">
      <mat-tab-group dynamicHeight class="nav nav-tabs flex flex-col md:flex-row flex-wrap list-none border-b pl-0 mb-4">
        <mat-tab label="Mission" class="">
          <div class="p-2" [innerHTML]="mission.description"></div>
          <span class="my-2 border rounded-full" *ngFor="let item of mission.documents">
           <span class="px-2 mx-2 cursor-pointer">{{item.name}}</span>
          </span>
        </mat-tab>
        <mat-tab label="Organization" class="">
          <div class="p-2" [innerHTML]="mission.description"></div>
        </mat-tab>
        <mat-tab label="Comments">
          <div class="flex-row items-center my-4">
            <form class="w-full max-w-full" [formGroup]="commentForm" (submit)="onSubmitComment()">
              <div class="flex flex-wrap -mx-3 my-5">
                <div class="w-full px-3">
                  <textarea
                    class="appearance-none block w-full border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-skill" placeholder="Enter your comment"  formControlName="comment"></textarea>
                    <span class="text-danger" *ngIf="comment?.invalid && (comment.touched || submitted)">
                      comment cannot be blank!
                    </span>
                </div>
              </div>
              <div class="flex items-center justify-start">
                <button type="submit" class=" border-2 border-orange-400 rounded-full py-1 px-4 text-sm font-medium text-orange-600 ">Add Comment</button>
              </div>
            </form>
            <div class="flex my-4 bg-gray-300" *ngFor="let item of comments">
              <div class="flex flex-row shadow-md w-full bg-white mx-2 my-2" >
                <img class="flex mx-2 my-2 h-12 w-12 rounded-full ring-2 ring-white" src="../../../../../assets/images/volunteer1.png" alt="" />
                <div class="flex-row mx-2 my-2" >
                  <div class="flex-row">
                    <div class="font-normal">Margaret Walsh</div>
                    <div class="my-1">{{item.commentDate | date}}</div>
                  </div>
                  <div class="my-2">{{item.comment}}</div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-span-1 px-0"></div>
    <div class="col-span-4 w-full h-72 mt-2 border overflow-x-scroll">
      <span class="flex w-80 mx-auto border-b text-xl my-3">Recent Volunteer</span>
      <div class="flex flex-wrap items-center justify-center">
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12 rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer1.png">
          <p>Andrew Johnson</p>
        </span>
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12  rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer2.png">
          <p>Charles Vigue</p>
        </span>
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12 rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer3.png">
          <p>Kathryn Roberts</p>
        </span>
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12 rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer4.png">
          <p>Estella Fowles</p>
        </span>
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12  rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer5.png">
          <p>Rose Lewis</p>
        </span>
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12  rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer6.png">
          <p>Raymond Pabon</p>
        </span>
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12  rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer7.png">
          <p>Travis Steen</p>
        </span>
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12  rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer8.png">
          <p>Sarah Santillan</p>
        </span>
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12  rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer9.png">
          <p>Linda Richards</p>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="flex-row w-full items-center justify-center border-top">
  <div class="flex w-full items-center justify-center text-3xl text-black my-4">
    Related Mission
  </div>
  <!-- grid -->
  <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
    <div class="flex-row items-center w-full border-2 bg-white">
      <div class="relative">
        <div class="absolute  inline-flex justify-end w-full my-3 px-3">
          <i class="fa fa-location-arrow text-white bg-black opacity-60 px-3 py-2 rounded-full"><span
              class="px-2">Toronto</span></i>
        </div>
        <div class="absolute inline-flex justify-end w-full my-24 px-3">
          <i class="fa fa-heart-o text-white bg-black opacity-80 px-3 py-2 rounded-full font-semibold"></i>
        </div>
        <div class="absolute inline-flex justify-end w-full my-36 px-3">
          <i class="fa fa-user-plus text-white bg-black opacity-60 px-3 py-2 rounded-full"></i>
        </div>
        <img class="w-full border-0"
          src="../../../assets/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="..." />
        <div class="relative -top-4 bg-white rounded-full w-50 mx-auto text-center">Environment</div>
      </div>
      <div class="px-6 py-3">
        <div class="font-bold text-xl mb-2 text-justify">Grow Trees – On the path to environment sustainability</div>
        <p class="text-gray-700 text-sm text-justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="cardbody">
        <div class="flex justify-between items-center px-6 py-3">
          <span>Tree Canada</span>
          <span class="star-rating text-lg text-yellow-300">
            <i class="fa fa-star" id="star1"></i>
            <i class="fa fa-star" id="star2"></i>
            <i class="fa fa-star" id="star3"></i>
            <i class="fa fa-star" id="star4"></i>
            <i class="fa fa-star" id="star5"></i>
          </span>
        </div>
        <div class="border-t border-b">
          <div class="flex items-center justify-center w-full -mt-3">
            <div class="border rounded-full px-2 bg-white">
              From 10/01/2019 until 25/02/2019
            </div>
          </div>
          <div class="flex items-center justify-between text-gray-400 my-2">
            <div class="inline-flex">
              <span>
                <img src="../../../assets/images/Seats-left.png" class="w-7 h-7">
              </span>
              <div class="text-gray-600">
                10
                <div class="text-style-1">
                  Seats left
                </div>
              </div>
            </div>
            <div class="inline-flex">
              <span>
                <img src="../../../assets/images/deadline.png" class="w-8 h-8">
              </span>
              <div class="text-gray-600">
                09/01/2019
                <div class="text-style-1">
                  Deadline
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center mx-auto my-3 items-center w-52 border-2 rounded-full border-orange-500">
          <button class="text-base py-2 text-orange-500 font-normal">Apply <i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div class="flex-row items-center w-full border-2 bg-white">
      <div class="relative">
        <div class="absolute  inline-flex justify-end w-full my-3 px-3">
          <i class="fa fa-location-arrow text-white bg-black opacity-60 px-3 py-2 rounded-full"><span
              class="px-2">Toronto</span></i>
        </div>
        <div class="absolute inline-flex justify-end w-full my-24 px-3">
          <i class="fa fa-heart-o text-white bg-black opacity-80 px-3 py-2 rounded-full font-semibold"></i>
        </div>
        <div class="absolute inline-flex justify-end w-full my-36 px-3">
          <i class="fa fa-user-plus text-white bg-black opacity-60 px-3 py-2 rounded-full"></i>
        </div>
        <img class="w-full border-0"
          src="../../../assets/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="..." />
        <div class="relative -top-4 bg-white rounded-full w-50 mx-auto text-center">Environment</div>
      </div>
      <div class="px-6 py-3">
        <div class="font-bold text-xl mb-2 text-justify">Grow Trees – On the path to environment sustainability</div>
        <p class="text-gray-700 text-sm text-justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="cardbody">
        <div class="flex justify-between items-center px-6 py-3">
          <span>Tree Canada</span>
          <span class="star-rating text-lg text-yellow-300">
            <i class="fa fa-star" id="star1"></i>
            <i class="fa fa-star" id="star2"></i>
            <i class="fa fa-star" id="star3"></i>
            <i class="fa fa-star" id="star4"></i>
            <i class="fa fa-star" id="star5"></i>
          </span>
        </div>
        <div class="border-t border-b">
          <div class="flex items-center justify-center w-full -mt-3">
            <div class="border rounded-full px-2 bg-white">
              From 10/01/2019 until 25/02/2019
            </div>
          </div>
          <div class="flex items-center justify-between text-gray-400 my-2">
            <div class="inline-flex">
              <span>
                <img src="../../../assets/images/Seats-left.png" class="w-7 h-7">
              </span>
              <div class="text-gray-600">
                10
                <div class="text-style-1">
                  Seats left
                </div>
              </div>
            </div>
            <div class="inline-flex">
              <span>
                <img src="../../../assets/images/deadline.png" class="w-8 h-8">
              </span>
              <div class="text-gray-600">
                09/01/2019
                <div class="text-style-1">
                  Deadline
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center mx-auto my-3 items-center w-52 border-2 rounded-full border-orange-500">
          <button class="text-base py-2 text-orange-500 font-normal" routerLink="/user-home/volunteering-mission"
            routerLinkActive="active">View Details <i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div class="flex-row items-center w-full border-2 bg-white">
      <div class="relative">
        <div class="absolute  inline-flex justify-end w-full my-3 px-3">
          <i class="fa fa-location-arrow text-white bg-black opacity-60 px-3 py-2 rounded-full"><span
              class="px-2">Toronto</span></i>
        </div>
        <div class="absolute inline-flex justify-end w-full my-24 px-3">
          <i class="fa fa-heart-o text-white bg-black opacity-80 px-3 py-2 rounded-full font-semibold"></i>
        </div>
        <div class="absolute inline-flex justify-end w-full my-36 px-3">
          <i class="fa fa-user-plus text-white bg-black opacity-60 px-3 py-2 rounded-full"></i>
        </div>
        <img class="w-full border-0"
          src="../../../assets/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="..." />
        <div class="relative -top-4 bg-white rounded-full w-50 mx-auto text-center">Environment</div>
      </div>
      <div class="px-6 py-3">
        <div class="font-bold text-xl mb-2 text-justify">Grow Trees – On the path to environment sustainability</div>
        <p class="text-gray-700 text-sm text-justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="cardbody">
        <div class="flex justify-between items-center px-6 py-3">
          <span>Tree Canada</span>
          <span class="star-rating text-lg text-yellow-300">
            <i class="fa fa-star" id="star1"></i>
            <i class="fa fa-star" id="star2"></i>
            <i class="fa fa-star" id="star3"></i>
            <i class="fa fa-star" id="star4"></i>
            <i class="fa fa-star" id="star5"></i>
          </span>
        </div>
        <div class="border-t border-b">
          <div class="flex items-center justify-center w-full -mt-3">
            <div class="border rounded-full px-2 bg-white">
              From 10/01/2019 until 25/02/2019
            </div>
          </div>
          <div class="flex items-center justify-between text-gray-400 my-2">
            <div class="inline-flex">
              <span>
                <img src="../../../assets/images/Seats-left.png" class="w-7 h-7">
              </span>
              <div class="text-gray-600">
                10
                <div class="text-style-1">
                  Seats left
                </div>
              </div>
            </div>
            <div class="inline-flex">
              <span>
                <img src="../../../assets/images/deadline.png" class="w-8 h-8">
              </span>
              <div class="text-gray-600">
                09/01/2019
                <div class="text-style-1">
                  Deadline
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center mx-auto my-3 items-center w-52 border-2 rounded-full border-orange-500">
          <button class="text-base py-2 text-orange-500 font-normal">Apply <i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="flex w-full items-center justify-start position-sticky border-top">
  <nav class="flex items-center py-2">
    <div class="container px-4 px-lg-5">
      <ul class="flex items-center mx-auto mb-2">
        <a class="text-black" routerLink="/user-home/policy-page" routerLinkActive="active">Privacy Pocliy</a>
      </ul>
    </div>
  </nav>
</footer>
