<div class="container w-screen h-full">
  <div class="grid h-75 md:grid-cols-12 lg:grid-cols-12 mb-2">
    <div class="lg:col-span-6 md:col-span-6 col-span-12 px-0">
      <div class="flex items-center justify-center my-12 mx-6">
        <img class="flex" src="../../../../assets/images/image2.png">
      </div>
      <div class="flex border-2 mx-6">
        <carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="singleSlideOffset" [noWrap]="!noWrap"
          [interval]="0" [startFromIndex]="1">
          <slide *ngFor="let slide of slides; let index=index">
            <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
          </slide>
        </carousel>
      </div>
    </div>
    <div class="lg:col-span-6 md:col-span-6 col-span-12 px-0 bg-white">
      <div class="flex w-full items-center justify-start mt-20">
        <div class="px-6 py-3 mb-2 w-full">
          <div class="font-normal text-2xl mb-2 text-justify">Grow Trees – On the path to environment sustainability
          </div>
          <p class="text-gray-700 text-sm text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
        </div>
      </div>
      <div class="border-t border-b">
        <div class="flex items-center justify-center w-full -mt-3">
          <div class="border rounded-full px-2 bg-white">
            From 10/01/2019 until 25/02/2019
          </div>
        </div>
        <div class="flex items-center justify-between text-gray-400 my-2">
          <div class="inline-flex">
            <span>
              <img src="../../../assets/images/Seats-left.png" class="w-7 h-7">
            </span>
            <div class="text-gray-600">
              10
              <div class="text-style-1">
                Seats left
              </div>
            </div>
          </div>
          <div class="inline-flex">
            <span>
              <img src="../../../assets/images/deadline.png" class="w-8 h-8">
            </span>
            <div class="text-gray-600">
              09/01/2019
              <div class="text-style-1">
                Deadline
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-t border-b py-3">
        <div class="flex justify-center items-center">
          <button
            class="inline-flex items-center my-3 mx-2 py-1 px-2 text-right border-2 text-gray-600 rounded-full border-gray-400">
            <img class="ml-4" src="../../../../assets/images/heart1.png">
            <span class="mx-2"> Add to Favourite</span>
          </button>
          <button
            class="inline-flex items-center my-3 py-1 mx-2 px-2 text-right border-2 text-gray-600 rounded-full border-gray-400">
            <img class="ml-4" src="../../../../assets/images/add1.png">
            <span class="mx-2">Recommend to a Co-Worker</span>
          </button>
        </div>
      </div>
      <div class="flex items-center justify-center w-full -mt-3">
        <div class="px-2 bg-white">
          <span class="star-rating text-lg cursor-pointer">
            <i class="fa fa-star" id="star1"></i>
            <i class="fa fa-star" id="star1"></i>
            <i class="fa fa-star" id="star1"></i>
            <i class="fa fa-star" id="star1"></i>
            <i class="fa fa-star" id="star1"></i>
          </span>
        </div>
      </div>
      <div class="bg-white">
        <div class="mx-auto max-w-2xl py-6 px-4">
          <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            <div class="group relative border">
              <div class="h-full w-full group-hover:opacity-75 p-2">
                <img src="../../../../assets/images/pin1.png" alt="" class="object-cover object-center">
                <div class="mt-4 flex justify-between">
                  <h3 class="text-sm text-gray-400">
                    City
                  </h3>
                </div>
                <p class="mt-1 text-sm text-gray-700">London</p>
              </div>
            </div>

            <div class="group relative border">
              <div class="h-full w-full group-hover:opacity-75 p-2">
                <img src="../../../../assets/images/web.png" alt="" class="object-cover object-center">
                <div class="mt-4 flex justify-between">
                  <h3 class="text-sm text-gray-400">
                    Theme
                  </h3>
                </div>
                <p class="mt-1 text-sm text-gray-700">Environment</p>
              </div>
            </div>

            <div class="group relative border">
              <div class="h-full w-full group-hover:opacity-75 p-2">
                <img src="../../../../assets/images/calender.png" alt="" class="object-cover object-center">
                <div class="mt-4 flex justify-between">
                  <h3 class="text-sm text-gray-400">
                    Date
                  </h3>
                </div>
                <p class="mt-1 text-sm text-gray-700">Ongoing<br>Opportunity</p>
              </div>
            </div>

            <div class="group relative border">
              <div class="h-full w-full group-hover:opacity-75 p-2">
                <img src="../../../../assets/images/organization.png" alt="" class="object-cover object-center">
                <div class="mt-4 flex justify-between">
                  <h3 class="text-sm text-gray-400">
                    Organization
                  </h3>
                </div>
                <p class="mt-1 text-sm text-gray-700">CSE Network</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex w-full justify-center items-center text-justify">
        <button
          class="flex w-50 items-center justify-center my-5 py-3 m-2 text-right border-2 text-orange-500 rounded-full border-orange-400">
          Apply <img class="ml-4" src="../../../../assets/images/right-arrow.png">
        </button>
      </div>
    </div>
  </div>
  <div class="grid h-full md:grid-cols-12 lg:grid-cols-12 mb-2">
    <div class="col-span-7 px-0">
      <ul class="nav nav-tabs flex flex-col md:flex-row flex-wrap list-none border-b pl-0 mb-4" id="tabs-tab"
        role="tablist">
        <li class="nav-item border-b border-black" role="presentation">
          <a href="#tabs-mission"
            class="block font-medium text-xs leading-tight uppercase border-x-0 border-t-0 border-b-2 border-transparent px-6 py-3 my-2 hover:border-transparent hover:bg-gray-100 focus:border-transparent"
            id="tabs-mission-tab" data-bs-toggle="pill" data-bs-target="#tabs-mission" role="tab">
            Mission
          </a>
        </li>
        <li class="nav-item hover:border-b hover:border-black" role="presentation">
          <a href="#tabs-organization"
            class="block font-medium text-xs leading-tight uppercase border-x-0 border-t-0 border-b-2 border-transparent px-6 py-3 my-2 hover:border-transparent hover:bg-gray-100 focus:border-transparent"
            id="tabs-organization-tab" data-bs-toggle="pill" data-bs-target="#tabs-organization"
            role="tab">Organization</a>
        </li>
        <li class="nav-item hover:border-b hover:border-black" role="presentation">
          <a href="#tabs-comments"
            class="block font-medium text-xs leading-tight uppercase border-x-0 border-t-0 border-b-2 border-transparent px-6 py-3 my-2 hover:border-transparent hover:bg-gray-100 focus:border-transparent"
            id="tabs-comments-tab" data-bs-toggle="pill" data-bs-target="#tabs-comments" role="tab">Comments</a>
        </li>
      </ul>
      <div class="tab-content my-3" id="tabs-tabContent">
        <div class="tab-pane fade text-justify" id="tabs-mission" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          <br><br>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          <br><br><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="tab-pane fade" id="tabs-organization" role="tabpanel">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          <br><br>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          <br><br><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          <br><br>
          We use these technologies for a number of purposes, such as:
          <br><br>
          <ul class="py-1">
            <li class="py-1">But I must explain to you how all this mistaken idea of denouncing pleasure andpraising
              pain.
            </li>
            <li class="py-1">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentiumvoluptatum deleniti
              atque
              excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
              animi.
            </li>
            <li class="py-1">
              On the other hand, we denounce with righteous
              indignation and dislike men who are so beguiled and demoralized
              But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain.
            </li>
            <li class="py-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut
              labore et dolore.
            </li>
          </ul>
          <span class="py-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est laborum.
          </span>
        </div>
          <app-comment class="tab-pane fade" id="tabs-comments" role="tabpanel">
          </app-comment>
      </div>
    </div>
    <div class="col-span-1 px-0"></div>
    <div class="col-span-4 w-full h-72 mt-3 border">
      <span class="flex w-80 mx-auto border-b text-xl my-3">Recent Volunteer</span>
      <div class="flex flex-wrap  items-center justify-center">
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12 rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer1.png">
          <p>Andrew Johnson</p>
        </span>
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12  rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer2.png">
          <p>Charles Vigue</p>
        </span>
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12 rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer3.png">
          <p>Kathryn Roberts</p>
        </span>
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12 rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer4.png">
          <p>Estella Fowles</p>
        </span>
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12  rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer5.png">
          <p>Rose Lewis</p>
        </span>
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12  rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer6.png">
          <p>Raymond Pabon</p>
        </span>
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12  rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer7.png">
          <p>Travis Steen</p>
        </span>
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12  rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer8.png">
          <p>Sarah Santillan</p>
        </span>
        <span class="flex-row mx-2"><img class="flex mx-auto h-12 w-12  rounded-full ring-2 ring-white"
            src="../../../../assets/images/volunteer9.png">
          <p>Linda Richards</p>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="flex-row w-full items-center justify-center border-top">
  <div class="flex w-full items-center justify-center text-3xl text-black my-4">
    Related Mission
  </div>
  <!-- grid -->
  <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
    <div class="flex-row items-center w-full border-2 bg-white">
      <div class="relative">
        <div class="absolute  inline-flex justify-end w-full my-3 px-3">
          <i class="fa fa-location-arrow text-white bg-black opacity-60 px-3 py-2 rounded-full"><span
              class="px-2">Toronto</span></i>
        </div>
        <div class="absolute inline-flex justify-end w-full my-24 px-3">
          <i class="fa fa-heart-o text-white bg-black opacity-80 px-3 py-2 rounded-full font-semibold"></i>
        </div>
        <div class="absolute inline-flex justify-end w-full my-36 px-3">
          <i class="fa fa-user-plus text-white bg-black opacity-60 px-3 py-2 rounded-full"></i>
        </div>
        <img class="w-full border-0"
          src="../../../assets/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="..." />
        <div class="relative -top-4 bg-white rounded-full w-50 mx-auto text-center">Environment</div>
      </div>
      <div class="px-6 py-3">
        <div class="font-bold text-xl mb-2 text-justify">Grow Trees – On the path to environment sustainability</div>
        <p class="text-gray-700 text-sm text-justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="cardbody">
        <div class="flex justify-between items-center px-6 py-3">
          <span>Tree Canada</span>
          <span class="star-rating text-lg text-yellow-300">
            <i class="fa fa-star" id="star1"></i>
            <i class="fa fa-star" id="star2"></i>
            <i class="fa fa-star" id="star3"></i>
            <i class="fa fa-star" id="star4"></i>
            <i class="fa fa-star" id="star5"></i>
          </span>
        </div>
        <div class="border-t border-b">
          <div class="flex items-center justify-center w-full -mt-3">
            <div class="border rounded-full px-2 bg-white">
              From 10/01/2019 until 25/02/2019
            </div>
          </div>
          <div class="flex items-center justify-between text-gray-400 my-2">
            <div class="inline-flex">
              <span>
                <img src="../../../assets/images/Seats-left.png" class="w-7 h-7">
              </span>
              <div class="text-gray-600">
                10
                <div class="text-style-1">
                  Seats left
                </div>
              </div>
            </div>
            <div class="inline-flex">
              <span>
                <img src="../../../assets/images/deadline.png" class="w-8 h-8">
              </span>
              <div class="text-gray-600">
                09/01/2019
                <div class="text-style-1">
                  Deadline
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center mx-auto my-3 items-center w-52 border-2 rounded-full border-orange-500">
          <button class="text-base py-2 text-orange-500 font-normal">Apply <i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div class="flex-row items-center w-full border-2 bg-white">
      <div class="relative">
        <div class="absolute  inline-flex justify-end w-full my-3 px-3">
          <i class="fa fa-location-arrow text-white bg-black opacity-60 px-3 py-2 rounded-full"><span
              class="px-2">Toronto</span></i>
        </div>
        <div class="absolute inline-flex justify-end w-full my-24 px-3">
          <i class="fa fa-heart-o text-white bg-black opacity-80 px-3 py-2 rounded-full font-semibold"></i>
        </div>
        <div class="absolute inline-flex justify-end w-full my-36 px-3">
          <i class="fa fa-user-plus text-white bg-black opacity-60 px-3 py-2 rounded-full"></i>
        </div>
        <img class="w-full border-0"
          src="../../../assets/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="..." />
        <div class="relative -top-4 bg-white rounded-full w-50 mx-auto text-center">Environment</div>
      </div>
      <div class="px-6 py-3">
        <div class="font-bold text-xl mb-2 text-justify">Grow Trees – On the path to environment sustainability</div>
        <p class="text-gray-700 text-sm text-justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="cardbody">
        <div class="flex justify-between items-center px-6 py-3">
          <span>Tree Canada</span>
          <span class="star-rating text-lg text-yellow-300">
            <i class="fa fa-star" id="star1"></i>
            <i class="fa fa-star" id="star2"></i>
            <i class="fa fa-star" id="star3"></i>
            <i class="fa fa-star" id="star4"></i>
            <i class="fa fa-star" id="star5"></i>
          </span>
        </div>
        <div class="border-t border-b">
          <div class="flex items-center justify-center w-full -mt-3">
            <div class="border rounded-full px-2 bg-white">
              From 10/01/2019 until 25/02/2019
            </div>
          </div>
          <div class="flex items-center justify-between text-gray-400 my-2">
            <div class="inline-flex">
              <span>
                <img src="../../../assets/images/Seats-left.png" class="w-7 h-7">
              </span>
              <div class="text-gray-600">
                10
                <div class="text-style-1">
                  Seats left
                </div>
              </div>
            </div>
            <div class="inline-flex">
              <span>
                <img src="../../../assets/images/deadline.png" class="w-8 h-8">
              </span>
              <div class="text-gray-600">
                09/01/2019
                <div class="text-style-1">
                  Deadline
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center mx-auto my-3 items-center w-52 border-2 rounded-full border-orange-500">
          <button class="text-base py-2 text-orange-500 font-normal" routerLink="/user-home/volunteering-mission"
            routerLinkActive="active">View Details <i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div class="flex-row items-center w-full border-2 bg-white">
      <div class="relative">
        <div class="absolute  inline-flex justify-end w-full my-3 px-3">
          <i class="fa fa-location-arrow text-white bg-black opacity-60 px-3 py-2 rounded-full"><span
              class="px-2">Toronto</span></i>
        </div>
        <div class="absolute inline-flex justify-end w-full my-24 px-3">
          <i class="fa fa-heart-o text-white bg-black opacity-80 px-3 py-2 rounded-full font-semibold"></i>
        </div>
        <div class="absolute inline-flex justify-end w-full my-36 px-3">
          <i class="fa fa-user-plus text-white bg-black opacity-60 px-3 py-2 rounded-full"></i>
        </div>
        <img class="w-full border-0"
          src="../../../assets/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="..." />
        <div class="relative -top-4 bg-white rounded-full w-50 mx-auto text-center">Environment</div>
      </div>
      <div class="px-6 py-3">
        <div class="font-bold text-xl mb-2 text-justify">Grow Trees – On the path to environment sustainability</div>
        <p class="text-gray-700 text-sm text-justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis
          eaque, exercitationem praesentium nihil.
        </p>
      </div>
      <div class="cardbody">
        <div class="flex justify-between items-center px-6 py-3">
          <span>Tree Canada</span>
          <span class="star-rating text-lg text-yellow-300">
            <i class="fa fa-star" id="star1"></i>
            <i class="fa fa-star" id="star2"></i>
            <i class="fa fa-star" id="star3"></i>
            <i class="fa fa-star" id="star4"></i>
            <i class="fa fa-star" id="star5"></i>
          </span>
        </div>
        <div class="border-t border-b">
          <div class="flex items-center justify-center w-full -mt-3">
            <div class="border rounded-full px-2 bg-white">
              From 10/01/2019 until 25/02/2019
            </div>
          </div>
          <div class="flex items-center justify-between text-gray-400 my-2">
            <div class="inline-flex">
              <span>
                <img src="../../../assets/images/Seats-left.png" class="w-7 h-7">
              </span>
              <div class="text-gray-600">
                10
                <div class="text-style-1">
                  Seats left
                </div>
              </div>
            </div>
            <div class="inline-flex">
              <span>
                <img src="../../../assets/images/deadline.png" class="w-8 h-8">
              </span>
              <div class="text-gray-600">
                09/01/2019
                <div class="text-style-1">
                  Deadline
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center mx-auto my-3 items-center w-52 border-2 rounded-full border-orange-500">
          <button class="text-base py-2 text-orange-500 font-normal">Apply <i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="flex w-full items-center justify-start position-sticky border-top">
  <nav class="flex items-center py-2">
    <div class="container px-4 px-lg-5">
      <ul class="flex items-center mx-auto mb-2">
        <a class="text-black" routerLink="/user-home/policy-page" routerLinkActive="active">Privacy Pocliy</a>
      </ul>
    </div>
  </nav>
</footer>
