<app-search-filter></app-search-filter>
<div class="px-6 pt-2 pb-2 mb-3 my-2">
  <span class="inline-flex border border-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
    #Tree Plantation</span>
  <span class="inline-flex border border-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
    #Canada</span>
  <span class="inline-flex border border-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
    #Toronto</span>
  <span class="inline-flex border border-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
    #Montreal</span>
  <span class="inline-flex border border-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
    #Environment</span>
  <span class="inline-flex border border-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
    #Nutrition</span>
  <span class="inline-flex border border-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
    #Anthropology</span>
  <span class="inline-flex border border-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
    #Environmental Science</span>
  <span role="button"
    class="inline-flex border-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
    Clear all</span>
</div>
<div class="container w-full h-full">
  <div class="grid w-full h-full md:grid-cols-12 lg:grid-cols-12 items-center">
    <div class="col-span-12 lg:col-span-8 md:col-span-6 sm:col-span-5">
      <h4>Explore Mission - {{count}}</h4>
    </div>
    <div class="col-span-12 lg:col-span-2 md:col-span-2 sm:col-span-3">
      <div class="input-group-btn">
        <select class="form-select">
          <option>Sort By</option>
          <option value="Newest">Newest</option>
          <option value="Oldest">Oldest</option>
          <option value="Lowest available seats">Lowest available seats</option>
          <option value="Highest available seats">Highest available seats</option>
          <option value="My favourites">My favourites</option>
          <option value="Registration deadline">Registration deadline</option>
        </select>
      </div>
    </div>
    <div class="col-span-1 lg:col-span-1 md:col-span-1 sm:col-span-1 gridview" (click)="onDisplayModeChange(1)">
      <div id="grid">
        <img src="../../../assets/images/grid.png" class="bg-slate-400 float-end cursor-pointer">
      </div>
    </div>
    <div class="lg:col-span-1 md:col-span-1 sm:col-span-1 listview" (click)="onDisplayModeChange(2)">
      <div id="list">
        <img src="../../../assets/images/list.png" class="float-end cursor-pointer">
      </div>
    </div>
  </div>
</div>
<section class="my-3">
  <ng-container *ngIf="(mission | paginate:{itemsPerPage:3,currentPage:page,totalItems:count}) as response">
    <!-- grid -->
    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-5"
      *ngIf="displayMode === 1">
      <div class="flex flex-col items-center w-full border-2 bg-white cursor-pointer" *ngFor="let item of response">
        <div class="relative h-64">
          <div class="absolute  inline-flex right-0 rounded-full my-3 text-white bg-black opacity-60 p-2">
            <i class="fa fa-map-marker">&nbsp;{{item.country}}</i>
          </div>
          <div class="absolute inline-flex right-0 rounded-full text-white bg-black opacity-60 my-20 p-2">
            <i class="fa fa-heart-o"></i>
          </div>
          <div class="absolute inline-flex my-36 right-0 rounded-full text-white bg-black opacity-60 p-2">
            <i class="fa fa-user-plus"></i>
          </div>
          <img class="w-full border-0 object-cover h-64" src="../../../../assets/images/{{item.images[0].image}}" alt="..." />
          <div class="absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2 bg-white rounded-full w-50 mx-auto text-center">{{item.theme}}</div>
        </div>
        <div class="grid grid-rows-[12] flex-1 border-4">
          <div class="px-6 py-3 row-span-6">
            <div class="font-bold text-xl mb-2 text-justify">{{item.title}}</div>
            <p class="text-gray-700 text-sm text-justify">
              {{item.shortDescription}}
            </p>
          </div>
          <div class="row-span-3">
            <div class="flex justify-between items-center px-6 py-3">
              <span>{{item.organisationName}}</span>
              <span class="star-rating text-lg text-yellow-300">
                <i class="fa fa-star" id="star1"></i>
                <i class="fa fa-star" id="star2"></i>
                <i class="fa fa-star" id="star3"></i>
                <i class="fa fa-star" id="star4"></i>
                <i class="fa fa-star" id="star5"></i>
              </span>
            </div>
            <div class="border-t border-b">
              <div class="flex items-center justify-center w-full -mt-3">
                <div class="border rounded-full px-2 bg-white">
                  From {{item.startDate}} until {{item.endDate}}
                </div>
              </div>
              <div class="flex items-center justify-between text-gray-400 my-2">
                <div class="inline-flex">
                  <span>
                    <img src="../../../assets/images/Seats-left.png" class="w-7 h-7">
                  </span>
                  <div class="text-gray-600">
                    {{item.totalSeats}}<div class="text-style-1">Seats left </div>
                  </div>
                </div>
                <div class="inline-flex">
                  <span>
                    <img src="../../../assets/images/deadline.png" class="w-8 h-8">
                  </span>
                  <div class="text-gray-600">
                    {{item.deadline}}<div class="text-style-1"> Deadline </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row-span-3">
            <div class="flex justify-center mx-auto my-3 items-center w-52 border-2 rounded-full border-orange-500"
              *ngIf="item.isApplied == false;">
              <button class="text-base py-2 text-orange-500 font-normal" type="submit"> Apply<i
                  class="fa fa-arrow-right"></i></button>
            </div>
            <div class="flex justify-center mx-auto my-3 items-center w-52 border-2 rounded-full border-orange-500"
              *ngIf="item.isApplied == true">
              <a routerLink="/user-home/volunteering-mission/{{item.id}}" routerLinkActive="active"
                class="cursor-pointer block">
                <button class="text-base py-2 text-orange-500 font-normal" type="submit"> View Details<i
                    class="fa fa-arrow-right"></i></button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- List -->
    <div class="p-10 w-full lg:max-w-full" *ngIf="displayMode === 2">
      <div class="grid xl:grid-cols-12 lg:grid-cols-12 md:grid-cols-12 lg:border-2 md:border-2 my-2 bg-white"
        *ngFor="let item of response">
        <div class="lg:col-span-3 md:col-span-3 col-span-12 px-0">
          <div class="relative">
            <span class="absolute right-0 rounded-full inline-flex my-2 p-1 text-white bg-black opacity-80 "><img
                src="../../../../assets/images/pin1.png" alt="No">&nbsp;{{item.country}}</span>
            <span class="absolute inline-flex right-0 rounded-full my-14 p-1  text-white bg-black opacity-80"><img
                src="../../../../assets/images/heart1.png" alt="No"></span>
            <span class="absolute inline-flex right-0 rounded-full my-28 p-1 text-white bg-black opacity-80"><img
                src="../../../../assets/images/add1.png" alt="No"></span>
            <span class="absolute bg-green-600 text-white px-3 py-1 rounded-r-full" *ngIf="item.isApplied == true">
              Applied
            </span>
            <img class="border-0 w-full" src="../../../../assets/images/{{item.images[0].image}}" alt="..." />
            <div class="relative -top-4 bg-white rounded-full w-50 mx-auto text-center">{{item.theme}}</div>
          </div>
        </div>
        <div class="lg:col-span-9 md:col-span-9 col-span-12 px-0">
          <div class="grid grid-cols-12 px-2 py-2">
            <div class="col-span-2">
              <img src="../../../../assets/images/pin1.png" alt="NoImage">&nbsp;{{item.city}}
            </div>
            <div class="col-span-2">
              <img src="../../../../assets/images/web.png" alt="NoImage">&nbsp;<span>{{item.theme}}</span>
            </div>
            <div class="col-span-2">
              <img src="../../../../assets/images/organization.png"
                alt="NoImage">&nbsp;<span>{{item.organisationName}}</span>
            </div>
            <div class="col-span-6">
              <div class="flex justify-end mx-3">
                <span class="star-rating text-lg text-yellow-300">
                  <i class="fa fa-star" id="star1"></i>
                  <i class="fa fa-star" id="star2"></i>
                  <i class="fa fa-star" id="star3"></i>
                  <i class="fa fa-star" id="star4"></i>
                  <i class="fa fa-star" id="star5"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="flex-row flex-wrap px-3 py-2">
            <div class="font-bold text-xl mb-2 text-justify">{{item.title}}</div>
            <p class="text-gray-700 text-sm text-justify">{{item.shortDescription}}</p>
            <div class="flex items-center justify-between my-3">
              <div class="inline-flex">
                <span>
                  <img src="../../../assets/images/Seats-left.png" class="w-7 h-7">
                </span>
                <div class="text-gray-600">{{item.totalSeats}}<div class="text-style-1">Seats left</div>
                </div>
              </div>
              <div class="inline-flex">
                <span>
                  <img src="../../../../assets/images/deadline.png">
                  <div class="text-gray-600">{{item.deadline}}<div class="text-style-1">Registration Deadline</div>
                  </div>
                </span>
              </div>
              <div class="inline-flex">
                <span>
                  <img src="../../../../assets/images/calender.png">
                  <div class="text-gray-600">From<div class="text-style-1">{{item.startDate}} until {{item.endDate}}
                    </div>
                  </div>
                </span>
              </div>
              <div class="inline-flex">
                <span>
                  <img src="../../../../assets/images/settings.png">
                  <div class="text-gray-600">{{item.skills}}</div>
                </span>
              </div>
            </div>
            <div class="flex justify-center my-3 items-center w-52 border-2 rounded-full border-orange-500"
              *ngIf="item.isApplied == false">
              <button class="text-base py-2 text-orange-500 font-normal">Apply <i
                  class="fa fa-arrow-right"></i></button>
            </div>
            <div class="flex justify-center my-3 items-center w-52 border-2 rounded-full border-orange-500"
              *ngIf="item.isApplied == true">
              <button class="text-base py-2 text-orange-500 font-normal"
                routerLink="/user-home/volunteering-mission/{{item.id}}" routerLinkActive="active">View Details <i
                  class="fa fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 text-center" *ngIf="response.length === 0">
      <p class="text-secondary " style="font-size:20px"><b>No mission Found</b></p>
    </div>
    <div class="flex items-center justify-center" *ngIf="response.length != 0">
      <pagination-controls class="text-orange-500" previousLabel="" nextLabel=""
        (pageChange)="page = $event"></pagination-controls>
    </div>
  </ng-container>
</section>

<footer class="flex w-full items-center position-sticky border-top">
  <nav class="flex w-full items-center py-2">
    <div class="container items-center flex w-full px-4 px-lg-5">
      <ul class="flex items-center justify-start">
        <li class="flex items-center mx-2 mb-2">
          <a class="text-black" routerLink="/user-home/policy-page" routerLinkActive="active">Privacy Pocliy</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
